@model WoolBoxStudio.Models.About

@{
    ViewBag.Title = "About/Contact";
}

<div id="aboutSection">
    <h2>About Me</h2>
    <img src="@Model.ImageLink"/>
    <p>
        @Model.AboutMe
    </p>
</div>
