@model IEnumerable<WoolBoxStudio.Models.CraftShow>

@{
    ViewBag.Title = "Upcoming Craft Shows";
}

<h2>Wool Box Studio is coming to a craft show near you!</h2>

<div class="craftShow">
    <div class="craftShowInfo">
        <h3>Craft Show Location</h3>
        <p>7/9/2013 - 7/9/2013</p>
        <p>7:00 - 8:00</p>
        <p>1234 Street Ave</p>
        <p>City, MI</p>
        <p>There will be all kinds of good stuff.</p>
    </div>
    <img src="~/Content/Images/slideTest.png" />
</div>
<div class="craftShow">
    <div class="craftShowInfo">
        <h3>Craft Show Location</h3>
        <p>7/9/2013 - 7/9/2013</p>
        <p>7:00 - 8:00</p>
        <p>1234 Street Ave</p>
        <p>City, MI</p>
        <p>There will be all kinds of good stuff.</p>
    </div>
    <img src="~/Content/Images/slideTest.png" />
</div>