@{
    ViewBag.Title = "Admin Section";
}
@Html.Partial("_AdminMenu")

<h1>Admin Section</h1>
<h2>Welcome to the Wool Box Studio Admin Section! </h2>
    
<p>If you would like to edit a section of this website, please select it from the menu at the left.</p>
