@model WoolBoxStudio.Models.Category

@{
    ViewBag.Title = "Delete Category Item";
}
@Html.Partial("_AdminMenu")
<h2>Delete Category Item</h2>

<h3>Are you sure you want to delete this?</h3>
<p>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
</p>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
